body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    color: #0b7a0b;
    margin-bottom: 10px;
    border-bottom: 2px solid #0b7a0b;
    padding-bottom: 5px;
}

.header,
.footer,
.button {
    background-color: #22a62f;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    flex: 1;
    margin: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);}

.button {
    border-radius: 100px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.button-gray {
    background-color: gray;
}

.big-button {
    display: block;
    padding: 15px;
    margin: 10px auto;
    font-weight: bold;
    width: 75%;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.info-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

select,
button {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
}
